{% load static %}

<article class="card mb-3 w-100 mt-3 border-dark">
  <div class="row g-0">
    <div class="col-3 p-2">
      <div class="border border-dark w-100 mb-3">
        <img
          src="{% static 'images/img.jpg' %}"
          class="img-fluid rounded-start"
          alt="..."
        />
      </div>
      <div class="input-group flex-nowrap border border-dark">
        <input type="number" value="5" class="form-control" />
      </div>
    </div>
    <div class="col">
      <div class="card-body">
        <p class="card-text">
          {{ item.text }}
        </p>
        <div class="row">
          <div class="col-8">
            <div class="form-check">
              <input class="form-check-input border-dark" type="checkbox" value="" id="correct_checkbox">
              <label class="form-check-label" for="correct_checkbox">
                Correct!
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
