{% extends "layouts/base.html" %}
{% load static %}

{% block content %}
  <div class="col-8">
    <div class="d-flex gap-3 align-items-center">
      <h1>New Question</h1>
    </div>

    <form>
      <div class="form-group row mt-3">
        <label for="title" class="col-sm-2 col-form-label">Title</label>
        <div class="col-sm-7">
          <input type="title" class="form-control" id="title_input" placeholder="title">
        </div>
      </div>
      <div class="form-group row mt-3">
        <label for="text" class="col-sm-2 col-form-label">Text</label>
        <div class="col-sm-7">
          <textarea class="form-control" id="text_input" rows="5"></textarea>
        </div>
      </div>
      <div class="form-group row mt-3">
        <label for="tags" class="col-sm-2 col-form-label">Tags</label>
        <div class="col-sm-7">
          <input type="tags" class="form-control" id="tags_input" placeholder="tags">
        </div>
      </div>

      <div class="form-group row mt-3">
        <label for="button" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-7">
          <button type="submit" class="btn btn-success">ASK!</button>
        </div>
      </div>
    </form>
  </div>
{% endblock %}
