{% extends "layouts/base.html" %}
{% load static %}
{% load bootstrap4 %}

{% block content %}
  <div class="col-8">
    <div class="d-flex gap-3 align-items-center">
      <h1>Log in</h1>
    </div>
    <form method="post" action="{% url "login" %}">
      <div class="form-group row mt-3">
        <label for="login" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-7">
          {% csrf_token %}
          {% bootstrap_form form %}
        </div>
      </div>
      <div class="form-group row mt-3">
        <label for="button" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-7">
          <button type="submit" class="btn btn-success">Log in!</button>
        </div>
      </div>
    </form>

    <div class="container mt-3">
      <label for="link" class="col-sm-2 col-form-label"></label>
      <a class=col-sm-7 href="{% url "signup" %}">Create new account</a>
    </div>
  </div>
{% endblock %}
