{% extends "layouts/base.html" %}
{% load static %}

{% block content %}
  <div class="col-8">
    <div class="d-flex gap-3 align-items-center">
      <h1>Log in</h1>
    </div>
    <div>
      <span style="color:red">Sorry, wrong password!</span>
    </div>
    <form>
      <div class="form-group row mt-3">
        <label for="login" class="col-sm-2 col-form-label">Login</label>
        <div class="col-sm-7">
          <input type="text" class="form-control" id="login_input" placeholder="login">
        </div>
      </div>
      <div class="form-group row mt-3">
        <label for="password" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-7">
          <input type="password" class="form-control" id="password_input" placeholder="password">
        </div>
      </div>
      <div class="form-group row mt-3">
        <label for="button" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-7">
          <button type="submit" class="btn btn-success">Log in!</button>
        </div>
      </div>
    </form>

    <div class="container mt-3">
      <label for="link" class="col-sm-2 col-form-label"></label>
      <a class=col-sm-7 href="{% url "signup" %}">Create new account</a>
    </div>
  </div>
{% endblock %}
