{% extends "layouts/base.html" %}
{% load static %}
{% load bootstrap4 %}

{% block content %}
      <div class="col-8">
        <div class="row g-0 dark-bottom-border">
          <div class="col-3 p-2">
            <div class="border border-dark w-100 mb-3">
            {% if question.user.profile.avatar %}
                <img
                  src="{{ question.user.profile.avatar.url }}"
                  class="img-fluid rounded-start"
                  alt="..."
                />
            {% else %}
                <img
                  src="{% static 'images/img.jpg' %}"
                  class="img-fluid rounded-start"
                  alt="..."
                />
            {% endif %}
            </div>
            {% include "components/like_selection.html" with item=question %}
          </div>
          <div class="col-8 mb-3 pt-1">
              <h5 class="d-flex justify-content-between">
                {{ question.title }}
              </h5>
              <p>
                {{ question.body }}
              </p>
              <div class="row">
                <div class="col-8">
                  <span>Tags</span>
                  {% for tag in question.tags.all %}
                  <a href="{% url "tag" tag %}">{{ tag }}</a>
                  {% endfor %}
                </div>
              </div>
          </div>
        </div>

        {% for answer in answers %}

        {% include "components/answer.html" with item=answer %}

        {% endfor %}

        {% include "components/pagination.html" with page_obj=answers %}

      <form method="post", action="{% url 'question' question.id %}">
        {% csrf_token %}
        <div class="form-group row mt-3">
          <div class="container">
            {% bootstrap_form form %}
          </div>
        </div>

        <div class="form-group row mt-3 mb-3">
          <div class="container">
            <button type="submit" class="btn btn-success">Answer!</button>
          </div>
        </div>
      </form>
    </div>
{% endblock %}
