{% extends "layouts/base.html" %}
{% load static %}
{% load bootstrap4 %}

{% block content %}
  <div class="col-8">
    <div class="d-flex gap-3 align-items-center">
      <h1>Settings: CoolGuy</h1>
    </div>
    <form method="post" action="{% url "settings" %}" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-group row mt-3">
        <label for="login" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-7">
          {% bootstrap_form form %}
        </div>
      </div>
      <div class="form-group row mt-3">
        <label for="button" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-7">
          <button type="submit" class="btn btn-success">Save!</button>
        </div>
      </div>
    </form>
  </div>
{% endblock %}
